{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2>
    Webmark V2 - Bookmark Manager
  </h2>

<section class="ui left aligned segment">
  <p>
    <b>Author:</b> WebLinks™                     <br>
    <b>Email:</b> Weblinks@email.com             <br>
    <b>Phone:</b> 051-0000000                    <br>
    <b>Address:</b> Cork Rd, Waterford, Ireland   
  </p>
  
</section>
</section>

<section class=" ui center aligned middle aligned segment">

  <img src="https://i.imgur.com/V1BJM5U.png">
  
</section>

