{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmark - Bookmark Manager
  </h1>
  <img src="https://image.flaticon.com/sprites/new_packs/494514-bookmarks-tags.png" width="250px" height="250px">
  <p>
    A small app to let you allows a user to create and
maintain bookmarks for interesting web sites.
  </p>
</section>